* {
    font-size: 14px;
}

/***************** MAIN-PAGE ************************/

/*************** MENU ******************/
nav {
    background: transparent;
    box-shadow: 1px 1px 20px -13px;
}
nav .row {
    padding: 20px 0;
}
nav button, nav button a {
    color: #000;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    border-radius: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}
nav button a, .main-page-nav button span {
    border-bottom: 1px solid #3DBFD9;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    font-size: 1.4em;
}
nav button:hover a, nav button:hover span {
    border-bottom-color: transparent;
    color: #fff;
}
nav button:hover {

    background-color: #3DBFD9;

}
nav .main-menu-login, nav .main-menu-faq {
    width: 80px;
}
nav img {
    height: 42px;
}
/*************** PICTURE ***************/
.tasty-pie {
    height: 500px;
}
/****************List**************/
.pros-cons-block ol {
    padding-left: 17px;
}
/************** LOGIN FORM *************/
@media (min-width: 768px) {
    .modal-dialog {
        width: 700px;
    }
}
.modal-header {
    background: #3DBFD9;
    color: #fff;
}
.modal-header .close {
    opacity: 1;
}
.modal-header .close span {
    color: #fff;
    font-size: 1.4em;
}
.modal-body {
   /* padding: 0;*/
}
.modal-body .form-container {
    padding: 20px;
}
.modal-body .form-container:last-of-type {
    border-left: 1px solid rgba(61, 68, 68, 0.54);
}
.modal-body form input {
    width: 100%;
}
.modal-body form input:first-of-type {
    margin-top: 20px;
}
#phase-status {
    margin: 0;
}
#phase-switcher {
    color: #337AB7;
    cursor: pointer;
}
#phase-switcher:hover {
    text-decoration: underline;
}

#form-email-msg-box, #form-password-msg-box {
    height: 45px;
}
.error-box {
    font-size: 1em;
    color: #ff4d2d;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}

.error-box:last-of-type {

}
.btn-primary {
    background-color: #3DBFD9;
    border-color: #3DBFD9;
}
.btn-primary:hover {
    background-color: #339bd9;
    border-color: #339bd9;
}
.msg-box {

    font-size: 1em;
    color: white;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-left: 5px;
}

.msg-box:last-of-type {

}
input.error {
    color: #DD6262);
    border-color: #DD6262;
}
/***********CAMPAIGN-PAGE*****************/

.campaign-page-title {
    margin-bottom: 50px;
}
/*****************MENU********************/

nav.campaign-page-nav .row {
    padding: 20px 75px;
}
nav ul.nav li a {
    padding: 1px;
}
nav ul.nav li a button span {
    font-size: 1.4em;
}
nav ul.nav li a:hover button span {
    color: #fff;
}
ul.nav ul.dropdown-menu {
    padding-top: 10px;
}
ul.nav ul.dropdown-menu li a{
    padding: 20px 10px;
    text-align: center;
}
ul.nav li.dropdown span.dd-span {
    border-bottom: 1px solid #3DBFD9;
}
/*****************THUMBNAILS*********************/
.campaign-create-button {
    position: relative;
    border: 3px solid #333;
    padding: 3px;
    text-align: center;

}

.campaign-create-button a {
    position: absolute;
    color: transparent;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 2;
}
.campaign-create-button:hover {
}
.campaign-create-button:hover div {
    height: 97%;
    padding-top: 36%;
}

.campaign-create-button div {
    position: absolute;
    background: #333;
    font-weight: 600;
    font-size: 1.4em;
    bottom: 3px;
    width: 97%;
    color: #fff;
    padding: 5px;
    text-align: center;
    height: 40px;
    -webkit-transition: all .5s ease-out;
    -moz-transition:    all .5s ease-out;
    -ms-transition:     all .5s ease-out;
    -o-transition:      all .5s ease-out;
    transition:         all .5s ease-out;

}
.campaign-create-button i.glyphicon {
    margin-top: 50px;
    margin-bottom: 90px;
    font-size: 2em;
    color: #47D454;
}
.campaign-thumbnail {
    font-weight: 600;
    box-shadow: 0 0 27px -7px;
    position: relative;
    margin-bottom: 30px;
}
.campaign-thumbnail > div {
    margin: 12px 5px;
}
.campaign-thumbnail > a.thumbnail-link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
    color: transparent;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    text-decoration: none;
    font-size: 2em;
    text-align: center;
    padding-top: 30%;
}

.campaign-thumbnail > a.thumbnail-link:hover {
    color: #fff;
    background: rgba(61, 191, 217, 0.60);
}
.campaign-thumbnail .title {
    font-weight: 600;
    font-size: 1.5em;
}
.campaign-thumbnail .title .logo{
    background: url("../images/pie-chart-3-64x64.png") no-repeat;
    background-size: contain;
    width: 10%;
    height: 30px;
    float: left;
    margin-left: 2px;
}
.campaign-thumbnail .glyphicon {
    font-size: 1.6em;
    margin-right: 15px;
}
.campaign-thumbnail .special {
    color: rgba(0, 0, 0, 0.71);
}
.campaign-thumbnail .images img {
    width: 45%;
}
.campaign-thumbnail .images img:first-child {
    margin-right: 7%;
}
.campaign-thumbnail .images {
    margin-top: 40px;
}

.campaign-thumbnail-empty {
    background: url("../images/pie-chart-3-64x64.png") no-repeat center;
    height: 280px;
    display: none;
}
